{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "error",
    "indent": "error",
    "space-in-parens": "error",
    "linebreak-style": ["error", "unix"]
  }
}
